html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: rgb(0, 114, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 114, 255, 1) 0%,
    rgba(0, 198, 255, 1) 100%
  );

  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 96%;
  height: 660px;
  display: flex;
  flex-direction: row;

  background-color: #fff;
  padding: 24px;
  margin: 0 24px;
}

.content-section {
  width: 50%;
  flex-direction: column;
}

.content-text {
  text-align: center;
  color: rgb(105, 105, 105);
  line-height: 1.6;
}

.about-section {
  width: 50%;
}

.about-text {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
}

.content-icons {
  margin-top: 24px;
  width: 40%;
  justify-content: space-evenly;
}

.content-icons i {
  font-size: 24px;
  font-weight: 700;
  transform: rotateY(0);
  transition: all 0.6s ease;
}

.content-icons i:hover {
  color: rgba(0, 114, 255, 1);
  cursor: pointer;
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  .about-section {
    height: 20%;
    width: 100%;
  }

  .about-text {
    font-size: 4rem;
  }

  .content-section {
    height: 80%;
    width: 100%;
    padding: 24px;
  }
}

@media screen and (max-width: 425px) {
  .about-section {
    height: 10%;
  }

  .content-text {
    margin: 0;
    line-height: 1.4;
  }

  .content-icons {
    margin-top: 12px;
    width: 40%;
    justify-content: space-evenly;
  }

  .content-icons i {
    font-size: 16px;
  }
}
